.container {
  margin: 40px auto;
  width: 90%;
}

.form {
  margin: 0 auto;
  width: 50%;
}
.form form {
  width: 100%;
}

.form .t {
  width: 100%;
  padding: 10px;
  background: transparent;
  border: 1px solid rgb(33, 104, 185);
  border-radius: 12px;
}
.form input::placeholder,
textarea::placeholder {
  color: white;
}

.btn button {
  background: transparent;
  border: 2px solid white;
  color: white;
  margin-top: 20px;
  padding: 8px 20px;
  border-radius: 5px;
  margin-left: 13rem;
}
.btn button:hover {
  background: white;
  color: black;
}
.icon {
  width: 50%;
  padding-left: 30px;
}
.icon a {
  width: 100%;
}

.icon a i {
  font-size: 2rem;
  padding: 25px;
  border: 1px solid white;
  border-radius: 50%;
  margin: 10px;
}
