body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: rgb(18, 0, 43); */
  background-color: rgb(1, 1, 3);
  /* background: linear-gradient(black, rgb(82, 0, 0)); */
  color: white;
}

/* Navbar  */
a {
  text-decoration: none;
  color: white;
}

.nav_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_bar .nav_items {
  padding: 16px;
  font-size: 1.2rem;
  font-weight: bold;
}

.nav_bar .nav_items:hover {
  border-bottom: 2px solid goldenrod;
}

/* skills  */
.skills {
  width: 90%;
  margin: 20px auto;
}
.skills .items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
}
.skills .items h6 {
  margin-left: -1rem;
}
.skills .items .item {
  margin: 5px;
  text-align: center;
  padding: 10px;
  width: 33%;
  border-radius: 10px;
  border: 1px solid rgb(33, 104, 185);
}
.skills .items .item img {
  width: 70px;
  height: 10vh;
}

/* education  */
.container2 {
  margin: 20px auto;
  width: 90%;
}
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 40px auto;
}

.container1 {
  padding: 10px 50px;
  position: relative;
  width: 50%;
  animation: movedown 1s linear forwards;
  opacity: 0;
}

@keyframes movedown {
  0% {
    opacity: 1;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.container1:nth-child(2) {
  animation-delay: 2s;
}
.container1:nth-child(3) {
  animation-delay: 3s;
}
.text-box {
  padding: 20px 30px;
  background-color: transparent;
  border: 2px solid rgb(33, 104, 185);
  position: relative;
  color: black;
  border-radius: 6px;
  font-size: 15px;
}

.left-container {
  left: 0;
}

.right-container {
  left: 50%;
}

.container1 img {
  position: absolute;
  width: 30px;
  height: 5vh;
  border-radius: 50%;
  background: red;
  right: -15px;
  top: 34px;
  z-index: 10;
}

.right-container img {
  left: -15px;
}
.container1 h4 {
  position: absolute;
  top: 34px;
  right: -70px;
}
.right-container h4 {
  left: -70px;
}
.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 100%;
  background: #fff;
  top: 0;
  left: 50%;
  margin-left: -3px;
  z-index: -1;
  animation: moveline 6s linear forwards;
}

@keyframes moveline {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}
.text-box h2 {
  font-weight: 600;
}

.text-box small {
  display: inline-block;
  margin-bottom: 15px;
}
.left-container-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid rgb(33, 104, 185);
  right: -15px;
}

.right-container-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid rgb(33, 104, 185);
  left: -15px;
}
